.server-response {
	border: 5px solid #80A6FF;
	width:  100wv;
	height: 85vh;
	padding: 50px;
}

.input-group > .form-control {
	border: 2px solid #80A6FF !important;
}

.btn-outline-secondary {
	border: 1px solid #80A6FF !important;
	background: #80A6FF !important;
	color: #FFFFFF !important;
}

.client-data {
	text-align: right;
	border: 2px solid #343a40;
	border-radius: 15px;
	max-height: 150px;
	margin: 10px;

}

.server-data {
	text-align: left;
	border: 2px solid blue;
	border-radius: 15px;
	max-height: 150px;
	margin: 10px;
}